<div class="post">
  <h2><i class="fa fa- // echo the icon (code or sun-o)"></i>// echo the title</h2>
  <h3><i class="fa fa-clock-o"></i> // echo the date variable</h3>

  // echo the content variable

  <h3><a href=""><i class="fa fa-comments"></i>Leave a comment</a></h3>
</div>
