<form action="/post/create" method="POST" class="form-create-post">
  <h2>Submit a new blog post</h2>

  <% if ( flash && flash.err ) { %>
  <ul class="alert alert-warning">
    <% Object.keys(flash.err).forEach(function(error) { %>
      <li><%- JSON.stringify(flash.err[error]) %></li>
    <% }) %>
  </ul>
  <% } %>

  <input type="text" class="form-control" placeholder="Post title ..." name="title">

  <textarea type="text" class="form-control" placeholder="Post content ..." name="content"></textarea>

  <input type="text" class="form-control" placeholder="Post author ..." name="author">

  Icon: <br />
  <input type="radio" class="form-control" name="icon" value="code"> Code <br />
  <input type="radio" class="form-control" name="icon" value="sun-o"> Sun <br />
  <input type="radio" class="form-control" name="icon" value="question"> Question Mark <br />

  Category: <br />
  <input type="radio" class="form-control" name="category" value="Climbing"> Climbing <br />
  <input type="radio" class="form-control" name="category" value="Programming"> Programming <br />
  <input type="radio" class="form-control" name="category" value="Misc"> Misc <br />

  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Post" />
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
