<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- EXTERNAL STYLES -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- EXTERNAL STYLES END -->

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/linker/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/linker/styles/styles.css">
    <!--STYLES END-->


    <title>Blog | Sam Stiles</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <header class="pull-right">
            <nav>
              <a href="/">Home</a>
              <a href="/about">About</a>
              <a href="/contact">Contact</a>
              <a href="/links">Links</a>

              |

              <a href="/category/Programming">Programming</a>
              <a href="/category/Climbing">Climbing</a>
              <a href="/category/Misc">Misc</a>
            </nav>
          </header>
        </div>
      </div>
    </div>

    <div class="top-image">
      <div class="container">
        <h5 class="top-image-credits">Photo credit: <a href="http://www.flickr.com/photos/christianhapgood/5099909707/" target="_blank">"Climbing in Kamouraska", Christian Hapgood, 2008</a></h5>
      </div>
    </div>

    <div class="primary-content container">
      <div class="row">
        <div class="col-sm-8">
          <div class="posts">

          <!-- DYNAMICALLY LOADED CONTENT -->

          <%- body %>

          <!-- DYNAMICALLY LOADED CONTENT END -->

          </div>
        </div>
        <div class="col-sm-4">
          <div class="sidebar">
            <div class="about">

              <p class="first">I'm a front-end developer at <a href="http://orangesprocket.com" target="_blank">OrangeSprocket</a>, an all-around developer at <a href="http://soup.ly/" target="_blank">Soup.ly</a>, the creator of an up-and-coming OOCSS framework called <a href="http://beaucss.com/" target="_blank">BeauCSS</a>, an avid <a href="/category/climbing">rock climber</a>, a local <a href="/about?section=hosting">webmaster</a>, a <a href="/about?section=advocate">developer advocate</a> (unofficial), and a lover of all things nerdy. I'm also slowly <a href="https://github.com/Latros/CragProject" target="_blank">building an app</a> that I hope can rival Mountain Project for tracking climbing routes across the globe.</p>

              <p>I'm attempting to spend at least an hour writing recreational code (coding at work won't count) every day for <a href="/about?section=365">an entire year</a>. I'm also on <a href="http://github.com/latros"><i class="fa fa-github"></i>GitHub</a>.</p>

              <p>I live in Fredericton, NB, Canada.</p>

              <p><a href="/contact">Contact me</a> or <a href="/about">read more about me</a>.</p>

              <div class="social">
                <a href="mailto:sam@phasesolutions.ca"><i class="fa fa-envelope"></i></a> <span>|</span> <a href="http://ca.linkedin.com/in/samuelstiles"><i class="fa fa-linkedin"></i></a>
              </div>

              <img src="/images/profile.jpg">
            </div>

            <div class="categories">
              <h2>Categories</h2>
              <ul>
                <li><a href="/category/Programming"><i class="fa fa-code"></i>Programming</a></li>
                <li><a href="/category/Climbing"><i class="fa fa-sun-o"></i>Climbing</a></li>
                <li><a href="/category/Misc"><i class="fa fa-question misc"></i>Misc</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--SCRIPTS-->
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/jquery.min.js"></script>
    <script src="/linker/js/bootstrap.min.js"></script>
    <script src="/linker/js/custom.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
