<% post.title = "About" %>

<div class="post">
  <h2>About</h2>
  <hr>
  <p>I'm a front-end developer with a passion for the interwebs.</p>

  <p href="#general">I spend most of my time building websites and trying to expand my skillset (front and back-end -- mostly front-end at work and back-end in my spare time). This blog is my first deep dive into the Node.JS/MongoDB tech stack and acts as a place for me to write about development in general, to document the development of BeauCSS, to write about my 365 days of code, and to write about rock climbing (my primary hobby when the weather is nice).</p>

  <h4>Hosting</h4>
  <p href="#hosting">Before I made development my primary focus I was a small-business server host &amp; webmaster. I had a focus on hosting game servers but that eventually lead to web hosting and getting into development. I no longer do any hosting on the side apart from a handful of rock climbing sites (<a href="http://cliffproject.com/"/>Crag Project</a>, <a href="http://ascentnb.com/">Ascent NB</a>, <a href="http://cimbeasterncanada.com/">Climb Eastern Canada</a> and <a href="http://unbrockandice.ca/">UNB Rock and Ice</a> to name a few).</p>

  <h4>Developer Advocate</h4>
  <p href="#advocate">I'm also a self-proclaimed developer advocate; I have a passion for the latest tools, apps, hacks, frameworks, text editors &amp; scripts to make the development process produce higher quality code in a more efficient and timely manner. I try to help other developers with their tooling and to help them understand the importance of having the right tools for the right job, no matter what your development setup. That means introducing web developers in particular to the mind-blowing-awesomeness of tools like <a href="http://livereload.com/">LiveReload</a>, <a href="http://sublimetext.com/">SublimeText</a>/<a href="https://github.com/limetext/lime">LimeText</a>, <a href="http://gruntjs.com/">Grunt.JS</a>, <a href="http://git-scm.com/">Git</a>/<a href="http://github.com/">GitHub</a> and many others.</p>

  <h4>Climbing</h4>
  <p href="#climbing">When weather permits I am an avid rock climber and have been for just over 2 years now. Climbing has become a huge part of my life ever since I started. It's become my fitness activity of choice due to it's problem-solving nature and the physical & mental challenges involved with climbing a route. I climb both sport & trad and am slowly building up my rack of gear as money permits. Climbing has taken me to some places I never would have been had I not fallen in love with the sport and I hope for it to take me to many more. I also volunteer locally for a number of climbing clubs/groups/assocations and put as much time and money back into the climbing community as I'm able to.</p>

  <h4>365 days of code</h4>
  <p href="#365">In 2014 I'm attempting the 365-days-of-code challenge -- to try and write some code (be it a part of a big project or a whole small project) every day for 365 days. I wrote code every day at work but I don't think that counts -- the goal of the exercise is to expand my coding horizons into areas that I'm not comfortable with in order to establish an understanding (at work I'm mostly coding things I'm comfortable with). I will be committing all of my days to GitHub in the form of public open-source repositories starting on January 1, 2014.</p>
</div>
