<div class="post">
  <h2>Contact</h2>

  <hr>

  <p><strong>LinkedIn:</strong> <a href="http://ca.linkedin.com/in/samuelstiles">http://ca.linkedin.com/in/samuelstiles</a></p>
  <p><strong>Email:</strong> <a href="mailto:sam@phasesolutions.ca">sam@phasesolutions.ca</a></p>
  <p><strong>GitHub:</strong> <a href="http://github.com/latros">http://github.com/latros</a></p>
</div>
