<div class="post">
  <h2>Links</h2>
  <p>This page is a compilation of useful links and good reads for developers / sysadmins / entrepreneurs / general IT folk. I add links to this list almost every single day. I hope some of you find it useful :)</p>

  <p>(Links are in no particular order)</p>

  <hr>

  <h3> Back-end Developer Resources</h3>
  <ul>
    <li><a href="http://ryanflorence.com/deploying-websites-with-a-tiny-git-hook/">Git for deployment</a> - commit and deploy at the same time using hooks</li>
    <li><a href="https://togetherjs.com/">TogetherJS</a> - a slick easy-to-use "live editing" and collaborating online a-la-google docs / a live chat room</li>
    <li><a href="http://rogerdudler.github.io/git-guide/">The simplest Git guide imaginable</a> - for the beginner struggling to wrap their head around Git</li>
    <li><a href="http://www.danielmiessler.com/study/git/">A slightly more complex git guide</a> - for those who have dabbled a bit but want to explore some of the deeper features</li>
    <li><a href="http://stackoverflow.com/questions/1139762/gitignore-file-not-ignoring">Force gitignore to update</a> - for those annoying occasions when your .gitignore isn't ignoring when it should be</li>
    <li><a href="http://stackoverflow.com/questions/6794110/git-revert-back-to-certain-commit">Roll back in Git</a> - a simple explanation of how to roll back to a previous commit using Git</li>
    <li><a href="https://devcenter.heroku.com/articles/getting-started-with-rails4">Getting started with Heroku &amp; Rails</a> - came in handy when I worked with rails and wanted to deploy to heroku</li>
    <li><a href="http://leanmeanfightingmachine.github.io/dploy/">DPLOY</a> - a unique node.JS deployment platform</li>
    <li><a href="http://processwire.com/">ProcessWire</a> - a free, open-source alternative to ExpressionEngine &amp; the like</li>
    <li><a href="http://www.minimit.com/articles/web-related/programming-video-courses">Amazing site functionality</a> - "Swipe" (click+drag) the article to the left/right to see a unique and sexy way of swapping pages on a particular site</li>
  </ul>

  <hr>

  <h3> Front-end Developer Resources</h3>
  <ul>
    <li><a href="http://github.hubspot.com/pace/docs/welcome/">PACE</a> - a sexy, lightweight, highly-configurable website loading bar... drag and drop and you're done... most of my sites use it</li>
    <li><a href="http://dev.w3.org/csswg/css-transitions/#animatable-css">CSS3 Animatable properties</a> - a great list of CSS3 properties that are compatible with CSS3 animations</li>
    <li><a href="http://carrot.github.io/share-button/">Carrot Share</a> - a simple &amp; sexy share button</li>
    <li><a href="http://zurb.com/playground/pizza-pie-charts">Pizza Pie Charts</a> - sexy CSS/JS pie chart generation based on HTML data</li>
    <li><a href="http://arashm.net/lab/simptip/">SimpleTip</a> - quick, easy and lightweight tooltips on hover using only HTML & CSS</li>
    <li><a href="http://www.html5rocks.com/en/tutorials/developertools/mobile/">Chrome DevTools for Mobile</a> - awesome new chrome feature to screencast your mobile device to your desktop for mobile development</li>
    <li><a href="http://stevepapa.com/neatshowjs/">NeatShow.JS</a> - a neat effect that causes images on your site to gracefully fade in once they're fully loaded... less jarring and more user-friendly than the instantaneous image pop-up</li>
    <li><a href="http://salvattore.com/">Salvattore</a> - a javascript framework for making responsive moodboards</li>
    <li><a href="http://eiskis.net/layers/">LayersCSS</a> - a style-agnostic CSS framework that gives you a skeleton (including Grid) with which to build upon</li>
    <li><a href="https://github.com/firstopinion/formatter.js">Formatter.JS</a> - ever edit a text field to see it auto-format to creditcard / phone number format for you? Formatter.js handles this</li>
    <li><a href="http://github.hubspot.com/odometer/docs/welcome/">Odometer</a> - slick number formatting framework</li>
    <li><a href="https://github.com/mduvall/grande.js">Grande.JS</a> - sexy, lightweight alternate way of allowing content editing without the use of an ugly WYSIWIG editor such as CKEditor</li>
    <li><a href="http://www.questioningdesigns.com/design-advanced-search-interface-step-step/">Designing a user-friendly search form</a> - how search forms should be designed and implemented</li>
    <li><a href="http://addyosmani.com/blog/image-optimization-tools/">Image optimization tools</a> - a bunch of image optimization techniques for more efficient / less janky page loads from Addy Osmani @ Google</li>
    <li><a href="https://github.com/airbnb/javascript">AirBNB JS Style guide</a> - how AirBNB thinks JS should be formatted</li>
    <li><a href="http://www.cornify.com/">Cornify.JS</a> - I'll let this one speak for itself</li>
    <li><a href="http://github.hubspot.com/vex/docs/welcome/">Fancy modal dialogs</a> - a sexy and lightweight modal framework</li>
    <li><a href="http://google-styleguide.googlecode.com/svn/trunk/htmlcssguide.xml">Googles HTML/CSS Style Guides</a> - how google thinks HTML &amp; CSS should be done</li>
    <li><a href="http://www.kapowaz.net/articles/cargo-cult-css">"Proper" CSS</a> - examining and criticizing popular CSS methodologies</li>
    <li><a href="http://thecodeplayer.com/walkthrough/custom-animated-checkbox-inputs-using-css-iconfonts">Animated checkboxes</a> - cool checkbox animations which may or may not be worth the overhead involved with getting them working... but who cares, they're pretty, right?</li>
    <li><a href="http://railsware.com/blog/2013/10/22/object-oriented-thinking-in-css/">Exploring OOCSS</a> - the ideal of modularity and minimal coupling as it applies to CSS</li>
    <li><a href="http://icscreative.com/essential-css-javascript-html-snippets-for-frontend-developers/">5 useful front-end snippets</a> - a handful of useful snippets for HTML/CSS/JS that will make your life easier</li>
    <li><a href="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js">Heavily documented jQuery source</a> - great if you feel like unraveling the black-box that is jQuery</li>
    <li><a href="http://bem.info/tools/optimizers/csso/description/">CSS Optimizer</a> - a minifier for CSS that goes beyond what minifiers usually do</li>
    <li><a href="http://lorempizza.com/">LoremPizza</a> - speaks for itself</li>
    <li><a href="http://www.ascii.cl/htmlcodes.htm">HTML character code reference</a> - find yourself forgetting the HTML character code for &eacute; when you work on french-canadian sites?</li>
    <li><a href="https://github.com/dypsilon/frontend-dev-bookmarks">Some other dudes list of awesome resources</a> - much bigger than mine, probably a bit of cross-pollination, but I find myself referencing this list quite a bit</li>
  </ul>

  <hr>

  <h3> Workflow (applies to developers of all types!)</h3>
  <ul>
    <li><a href="http://resrc.io/list/10/list-of-free-programming-books/">Huge list of free programming books</a> - amazing, amazing resource... wish more developers knew about it!</li>
    <li><a href="http://davidwalsh.name/eliminating-distractions">Eliminiting distractions</a> - the importance of uninterrupted coding</li>
    <li><a href="http://timevko.com/practice#">Practice.IO</a> - generate a random assignment if you can't think of anything to program</li>
    <li><a href="http://scotch.io/bar-talk/sublime-text-keyboard-shortcuts">Sublime Text Keyboard Shortcuts</a> - awesome sublime text keyboard shortcut list</li>
    <li><a href="https://github.com/jaredwilli/devtools-cheatsheet">Chrome DevTools Cheatsheet</a> - learn the ins and outs of the chrome devtools</li>
    <li><a href="http://www.marcelkalveram.com/2013/11/10-shortcuts-to-become-a-true-sublime-text-ninja/">More sublime shortcuts</a> - another great list of sublime shortcuts / tips / tricks for improving workflow</li>
  </ul>

  <hr>

  <h3> Development philosophy || General Reading</h3>
  <ul>
    <li><a href="http://aeon.co/magazine/living-together/james-somers-web-developer-money/">Are coders worth it?</a> - examining the perks and freedoms that often come to developers nowadays</li>
  </ul>

  <hr>

  <h3> SysAdmin || Linux Resources</h3>
  <ul>
    <li><a href="http://aspirine.org/htpasswd_en.html">.htpasswd generator</a> - useful if you can never remember the commandline arguments like me</li>
    <li><a href="http://davidseah.com/blog/2007/04/separate-php-error-logs-for-multiple-domains-with-plesk/">Plesk domain-specific error logs</a> - If you use Plesk and want to change the location of the error_log output to the folder of the site itself</li>
  </ul>

  <hr>

  <h3> Entrepreneurial / Freelance / Business Resources</h3>
  <ul>
    <li><a href="http://stuffandnonsense.co.uk/blog/about/the_most_effective_debt_collecting_email_i_ever_wrote/">"The best debt collecting email I ever wrote"</a> - may come in handy if you're having trouble getting payment for work you've done for a freelance client</li>
  </ul>
</div>
