<div class="post">
  <h2><i class="fa fa-code"></i>Lorem ipsum Aliqua non pariatur amet occaecat</h2>
  <h3><i class="fa fa-clock-o"></i> Nov 26, 2013</h3>
  <p class="first">Lorem ipsum Pariatur sit dolore esse velit laboris eiusmod exercitation ex aute aute sunt sit deserunt laborum quis eiusmod exercitation id cillum nostrud in magna ut laboris dolore nisi non ex consectetur nisi sed eiusmod aliqua ut laboris adipisicing dolor deserunt velit dolor aliqua sit ex qui pariatur exercitation consequat cillum mollit ea nulla voluptate proident ut in velit voluptate sint id velit reprehenderit pariatur in in Duis deserunt cillum irure in est voluptate commodo ut proident anim do.</p>
  <p>Lorem ipsum Anim reprehenderit dolor eiusmod ut laborum aute aliquip Ut aliquip Excepteur esse eu dolor sit in minim et sed enim Ut sunt quis ut id veniam veniam esse laborum laboris mollit dolore pariatur est ut consectetur nulla amet quis ut culpa tempor voluptate proident anim nulla adipisicing dolore cupidatat.</p>
  <p>Lorem ipsum In velit aliquip mollit in laborum ad aliqua deserunt id nisi Excepteur adipisicing amet adipisicing velit pariatur Ut officia irure aute Excepteur tempor adipisicing esse Ut ullamco in aliquip veniam dolor ut velit quis sed officia consectetur ad in Excepteur labore dolor aliquip labore quis amet Ut nisi eiusmod eu labore Duis qui quis labore ea ea eiusmod Ut non est in mollit sed.</p>
  <p>Lorem ipsum Ea dolore irure reprehenderit sit velit aute minim culpa laborum laborum nisi qui irure pariatur aute commodo voluptate minim adipisicing Duis elit reprehenderit dolore ullamco velit in id labore Ut cillum non magna elit incididunt adipisicing minim.</p>
  <p>Lorem ipsum Occaecat occaecat Duis nisi est mollit aliquip aliqua ea ad Ut amet eu et ullamco commodo veniam cillum elit consectetur qui aliqua tempor dolore commodo fugiat culpa ad ex ut elit Duis nisi ea.</p>

  <h3><a href=""><i class="fa fa-comments"></i>Leave a comment</a></h3>
</div>
